*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color: #063d45;
    --colorlight: rgba(15, 111, 120,);
    --colorgold: #f1c580;
    --colormetallicgold: #D4AF37;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x: hidden;
}

#sidenav{
    display:none;
}

/*Logo*/

img{
    height: 110px;
    width: 110px;
}

.logo-top{
    display: flex;
    align-items: center;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    transition: 0.5s ease;
}

.branch{
    background-color: #063d45;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    transition: 0.5s ease;
}

header .top{
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.8s;
}

header .top:hover{
    color: var(--colormetallicgold);
    transition: 0.4s ease-in-out;
}

/*Navigation Bar*/

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items .nav-bar_2{
    padding: 10px;
    background: black;
    transition: 0.6s ease;
}

header .navigation .navigation-items .nav-bar_2:hover{
    background: #D4AF37;
}

header .navigation .navigation-items .nav-bar::before{
    content: "";
    position: absolute;
    background: var(--colormetallicgold);
    width: 0;
    height: 3px;
    bottom: -4px;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;
    
}

.homepage{
    font-family: 'Synonym', sans-serif;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex ;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    
} 

.homepage:before{
    z-index: 777;
    content: "";
    position: absolute;
    background: rgb(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.homepage .content{
    z-index: 888;
    width: 70%;
    margin-top: 50px;
}

.homepage .content h1{
    font-size: 7em;
    
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 18px;
    text-align: center;
    line-height: 140px;
    margin-bottom: 35px;
}

.homepage .content p{
    font-size: 20px;
    font-family: 'Synonym', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 65px;
    text-transform: uppercase;
    
}



.homepage .content a{
    background: #060606;
    font-family: 'Synonym', sans-serif;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
    
    
} 

.homepage .content a:hover{
    background-color: var(--colormetallicgold);
    transition: 0.4s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}

.homepage video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.homepage img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
    transition: 1s;
    
}



/*About section*/

#about .aboutpage h1{
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    color: #063d45;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 3.9em;
    margin-left: 1cm;
}

#about .aboutpage p{
    font-size: 20px;
    margin-left: 1cm;
    margin-right: 2cm;
}

#about .aboutpage img{
    width: 17cm;
    height: auto;
    margin-left: 2cm;
    margin-bottom: 1cm;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: 0.3s;
    
}


#about .aboutpage{
    display: flex;
    flex-direction: row;
    margin-top: 1cm;
}




/*Dine-In*/

#dine-in .dinein_info h1{
    color: #063d45;
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    text-align: start;
    margin-left: 1cm ;
    text-transform: uppercase;
    font-size: 3.9em;
}

#dine-in .dinein_info p{
    text-align: justify;
    font-size: 20px;
    margin-left: 1cm;
    margin-right: 1cm;
}

#dine-in img {
    width: 17cm;
    height: 14cm;
    margin-right: 2cm;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#dine-in .dine-bg{
    background-color: #D4AF37;
    background-image: linear-gradient(10deg, #D4AF37, rgba(255, 251, 251, 0.473));
}

#dine-in .dinein_info{
   display: flex;
   flex-direction: row;
   margin-top: 1cm;
   margin-bottom: 1cm;
   
   
   padding: 30px;
}

#dine-in .restaurant ul{
    margin-left: 1.5cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    font-size: 1.2em;
}
/*End of Dine-In/*

/*Start of private beach*/

#beach .beach_container img{
    width: 12cm;
    height: auto;
    margin-left: 2cm;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#beach .beach_container h1{
    color: #063d45;
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    text-align: start;
    margin-left: 1cm ;
    text-transform: uppercase;
    font-size: 3.9em;
}

#beach .beach_container p{
    font-size: 20px;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
}

#beach .beach_container ol li{
    margin-left: 1.5cm;
    font-size: 20px;
    line-height: 1cm;
    color: var(--color);
    font-weight: 600;
}

#beach .beach_container {
    display: flex;
    flex-direction: row;
}
/*End of Our Merchandise*/

/*Start of SPA*/

#spa .spa_container img{
    width: 17cm;
    height: auto;
    margin-left: 2cm;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#spa .spa_info h1{
    color: #063d45;
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    text-align: start;
    margin-left: 1cm ;
    text-transform: uppercase;
    font-size: 3.9em;
}

#spa .spa_info p{
    text-align: justify;
    font-size: 20px;
    margin-left: 1cm;
    margin-right: 1cm;
}


#spa .spa_info{
    display: flex;
    flex-direction: row;
    margin-top: 1cm;
    background-color: #D4AF37;
    background-image: linear-gradient(10deg, #D4AF37, rgba(255, 251, 251, 0.473));
    padding: 30px;
}
/*End of SPA*/

/*start of Our Facility*/


#bullets .bullets_head h1{
    color: #063d45;
    color: #063d45;
    font-family: 'General Sans', sans-serif;
    margin-top: 1.5cm;
    margin-bottom: 1.5cm;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight:bold;
}

#bullets .bullets_list{
    display: flex;
    margin-bottom: 1cm;
    text-transform: uppercase;
    justify-content:space-evenly;
}

#bullets .bullets_list ol li{
    font-size: 27px;
    color: #063d45;
    margin-left: 2cm;
    font-weight: bold;
    list-style: none;
    
    
}

#bullets .bullets_list ul li{
    font-size: 25px;
    color: var(--colormetallicgold);
}


#bullets .bullets_list .swimming{
    margin-left: 2cm;
    margin-top: 2cm;
    margin-bottom: 1cm;
    width: 10cm;
    height: auto;
    transition: 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#bullets .bullets_list .jacuzzi{
    margin-left: 1cm;
    margin-top: 2cm;
    margin-bottom: 1cm;
    width: 10cm;
    height: auto;
    transition: 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

#bullets .bullets_list .sauna{
    margin-left: 1cm;
    margin-top: 2cm;
    margin-bottom: 1cm;
    width: 10cm;
    height: auto;
    transition: 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    
}

#bullets .bullets_list .gym{
    margin-left: 1cm;
    margin-top: 2cm;
    margin-bottom: 1cm;
    width: 10cm;
    height: auto;
    transition: 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

#bullets .bullets_list img:hover{
    transform: scale(1.1);
    transition: 0.4s ease;
}
/*End of Our Facility*/

/*Start of Footer*/
footer .footer_page{
    background-color:#063d45;
    background-image: linear-gradient(-10deg, #063d45, rgba(255, 251, 251, 0.188));
    padding-top: 80px;
    align-items: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

footer .footer_page .footer_inf {
    color: #D4AF37;
    text-align: center;
    font-size: 1em;
    margin-left: 2cm;
    text-transform: uppercase;
}

footer .footer_page .footer_inf a img{
    width: 7cm;
    height: auto;
    margin-left: 2.3cm;

}

footer .footer_page .footer_inf h2{
    margin-top: 1cm;
    margin-left: 1.2cm;
}

footer .footer_page .footer_inf h4{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 1cm;
    color: aliceblue;
}

footer .footer_page .footer_inf h6{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 1cm;
    color: #D4AF37;
}

footer .footer_page h3{
    color: aliceblue;
    text-transform: uppercase;
    
}

footer .footer_page .footer_list{
    margin-left: 5cm;
}

footer .footer_page .footer_list h3{
    padding-bottom: 27px;
    text-transform: uppercase;
}
    

footer .footer_page .footer_list ul li{
    padding-bottom: 25px;
    list-style: none;
}

footer .footer_page .footer_list a{
    transition: 0.4s ease;
}

footer .footer_page .footer_list a:hover{
    transition: 0.4s ease;
    transform: scale(1.1);
}


footer .footer_page a{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    text-decoration: none;
    color: #D4AF37;
    padding-bottom: 10px;
    transition: 0.4s;
    
}

footer .footer_page a:hover{
    color: #ffffff;
    transform: scale(1.1);
    transition: 0.4s;
}

footer .footer_page .footer_contact h3{
    padding-bottom: 15px;
    margin-left: 6cm;
    text-transform: uppercase;
}


footer .footer_page .footer_contact ul li{
    margin-left: 6cm;
    list-style: none;
    color: #f1c580;
    line-height: 50px;
    transition: 0.4s ease;
}

footer .footer_page .footer_contact a{
    transition: 0.4s ease;
}

footer .footer_page .footer_contact a:hover{
    transition: 0.4s ease;
}

footer .footer_page .footer_allign{
    display: flex;
    flex-direction: row;
}

footer .footer_page .footer_social h3{
    margin-left: 6cm;
    margin-bottom: 0.6cm;
}

footer .footer_page .footer_social ul li{
    color: #f1c580;
    margin-left: 6cm;
    list-style: none;
    transition: 0.4s ease;
    font-size: 18px;
    margin-bottom: 0.7cm;
}

footer .footer_page .footer_social ul li a img{
    transition: 0.2s;
    padding: 10px;
    border-radius: 13px;
    margin-left: 1cm;
    width: 50px;
    height: 50px;
}

footer .footer_page .footer_social ul li a img:hover{
    background-color: #D4AF37;
    border-radius: 13px;
    transition: 0.2s;
}

footer .footer_page .copright{
    margin: 0;
    text-align: center;
    color:var(--colormetallicgold);
    padding-top: 80px;
    
}



/*Media Section for Header Mobile*/

@media (max-width: 1190px){
    header {
        padding: 12px 20px;
        
    }

    section {
        padding: 100px 20px;
    }

    header .navigation {
        display: none;
    } 

    .homepage .content h1 {
        font-size: 3.5em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 15px;
        text-align: center;
        line-height: 120px;
        margin-bottom: 35px;
    }
    
    .homepage .content p {
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 65px;
    }

    #about .aboutpage #first_about{
        display:inline-block ;
        
    }

    #about .aboutpage img {
        width: 9cm;
        height: 9cm;
        margin: 0px auto 1cm;
        margin-bottom: 1cm;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    /*Menu Button*/

    #sidenav{
        display:block;
        width: 250px;
        height: 100vh;
        position: absolute;
        right: -250px;
        top: 0;
        background: #063d45;
        z-index: 999;
        transition: 0.5s;
    }      

    #sidenav nav ul li{
        list-style: none;
        margin: 50px 20px;
    }

    #sidenav nav ul li a{
        text-decoration: none;
        color: #D4AF37;
        font-weight: 800;
        
    }

    #menubtn{
        text-align: center;
        position:absolute;
        right: 20px;
        top: 50px;
        border-radius: 3px;
        z-index: 999;
        cursor: pointer;
        
    }

    #menubtn img{
        width: 20px;
        height: 20px;
    }

    /*Menu Button End*/

}
 

/*Media Section for About and below for mobile*/

@media (min-width:801px) and (max-width:1189px){
    #about .aboutpage img{
        margin-top: -2cm;
        width: 20cm;
        height: auto;
        border-radius: 0;
    }

    #about .aboutpage #first_about h1{
        font-size: 50px;
        text-align: center;
    }

    #about .aboutpage #first_about p{
        text-align: center;
        justify-content:center;
        font-size: 30px;
    }

    #about .aboutpage{
        display:flex;
        flex-direction: column;
    }

    #dine-in .dinein_info{
        display: flex;
        flex-direction: column;
        margin-left: -1cm;
    }

    #dine-in .dinein_info .restaurant h1{
        text-align: center;
        font-size: 50px;
    }

    #dine-in .dinein_info .restaurant ul li{
        font-size: 20px;
    }

    #dine-in .dinein_info .restaurant p{
        font-size: 25px;
    }

    #dine-in .dinein_info .dinein_img img{
        border-radius: 0%;
        width: 15cm;
        height: auto;
        margin-top: 1cm;
        margin-left: 1cm;
        justify-content: center;
    }

    #beach .beach_container{
        display: flex;
        flex-direction: column;
    }

    #beach .beach_container img{
        margin: auto;
        margin-top:-4cm;
        margin-bottom: 1cm;
        border-radius: 0;
    }

    #beach .beach_container .beach_info h1{
        font-size: 45px;
        text-align: center;
        margin-bottom: 0.5cm;
    }

    #spa .spa_info{
        display: flex;
        flex-direction: column;
    }

    #spa .spa_info h1{
        text-align: center;
    }

    #spa .spa_info img{
        border-radius: 0;
        margin: 0;
        margin-top: 1cm;
        width:max-content;
    }

    #bullets .bullets_head h1{
        margin-top: -3cm;
        margin-bottom: -1cm;
    }

    #bullets .bullets_list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #bullets .bullets_list ol{
        margin-left: 0;
        margin-top: 2cm;
        
    }
 
    #bullets .bullets_list .swimming{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    #bullets .bullets_list .jacuzzi{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    #bullets .bullets_list .sauna{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    #bullets .bullets_list .gym{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    footer .footer_page .footer_inf{
        margin-top: 0;
        margin-bottom: 4cm;
        display: none;
    }

    footer .footer_page .footer_2 .footer_contact{
        margin-left: 2cm;
        margin-top: 1cm;
    }

    footer .footer_page .footer_image{
        display: none;
    }
}

@media (max-width: 679px){
    .homepage{
        width:max-content;
        height: 100vh;
    }
    

    #about .aboutpage img{
        width:max-content;
        height:8.9cm;
        border-radius: 0;
        margin-left: -1cm;
        
    }

    #about .aboutpage #first_about h1{
        font-size: 38px;
        margin-left: 0;
        margin-right: -2.5cm;
        margin-bottom: 1cm;
       
    }

    #about .aboutpage #first_about p{
       font-size: 20px;
       margin-left: 0;
       margin-right: -2cm;
       text-align:center;
    }

    #about .aboutpage{
        display:flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
       
    }

    #dine-in .dine-bg{
        margin-top: -4cm;
        margin-left: -1cm;
        margin-right: 0;
        width: 13.35cm; ;
        height: auto;
        
    }

    #dine-in .dinein_info{
        display: flex;
        flex-direction: column;
        margin-right:0 ;
        margin-bottom: -4cm;
    }

    #dine-in .dinein_info .restaurant h1{
        margin-right: 0;
        text-align: center;
        font-size: 40px;
    }

    #dine-in .dinein_info p{
        margin-right: 0;
    }

    #dine-in .dinein_info .dinein_img img{
        margin-right: 0cm;
        margin-left: -0.4cm;
        border-radius: 0%;
        width: 110.2%;
        height: auto;
        margin-top: 1cm;
    }

    #beach .beach_container{
        display: flex;
        flex-direction: column;
        margin-left: -1cm;
        margin-right: -1cm;
    }

    #beach .beach_container img{
        margin: 0;
        border-radius:0;
        width: 100%;
        height: auto;
    }

    #beach .beach_container .beach_info h1{
        font-size: 41px;
        margin-top: 1cm;
        text-align: center;
        margin-bottom: 0.5cm;
    }
    
    #spa .spa_info{
        display: flex;
        flex-direction: column;
        margin-left: -1cm;
        margin-right: -1cm;
        margin-top: -4cm;
    }

    #spa .spa_info h1{
        text-align: center;
    }

    #spa .spa_info img{
        border-radius: 0;
        margin: 0;
        margin-top: 1cm;
        width: 100%;
        height: auto;
    }

    #bullets .bullets_head h1{
        margin-top: -4cm;
        margin-bottom: -1cm;
        font-size: 50px;
    }

    #bullets .bullets_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -1cm;
        margin-right: -1cm;
    }

    #bullets .bullets_list ol{
        margin-left: 0;
        margin-top: 2cm;
        
    }
 
    #bullets .bullets_list .swimming{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    #bullets .bullets_list .jacuzzi{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    #bullets .bullets_list .sauna{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    #bullets .bullets_list .gym{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    footer .footer_page{
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }

    footer .footer_page .footer_inf{
        margin-top: 0;
        margin-bottom: 4cm;
        display: none;
    }

    footer .footer_page .footer_image{
        display: none;
    }

    footer .footer_page .footer_allign{
        display: flex;
        flex-direction:column;
    }
    
    footer .footer_page .footer_list h3{
        margin-left: -5cm;
        text-align: center;
    }

    footer .footer_page .footer_list ul li a{
        margin-left: -5cm;
        text-align: center;
    }

    footer .footer_page .footer_contact h3{
        margin-right: 2cm;
        margin-top: 1cm;
        text-align: center;
    }

    footer .footer_page .footer_contact ul li a{
        margin-left: -2cm;
        text-align: center;
    }

    footer .footer_page .footer_social{
        margin-left: 0;
        margin-top: 1cm;
    }

    footer .footer_page .footer_social h3{
        margin-right: 2cm;
    }

    footer .footer_page .footer_social ul li{
        margin-left: 6cm;
    }


}

@media (min-width:679px) and (max-width: 800px){
    #about .aboutpage img{
        margin-top: 0;
        width: 13.5cm;
        height: auto;
        border-radius: 0;
    }

    #about .aboutpage #first_about h1{
        margin: 0;
        font-size: 50px;
        text-align: center;
    }

    #about .aboutpage #first_about p{
        margin: 1cm;
        margin-bottom: -4cm;
    }

    #about .aboutpage{
        display:flex;
        flex-direction: column;
    }

    #dine-in .dinein_info{
        display: flex;
        flex-direction: column;
        margin-left: -1cm;
    }

    #dine-in .dinein_info .restaurant h1{
        text-align: center;
        font-size: 40px;
    }

    #dine-in .dinein_info .dinein_img img{
        border-radius: 0%;
        width: 9cm;
        height: auto;
        margin-top: 1cm;
        margin-left: 1cm;
    }

    #beach .beach_container{
        display: flex;
        flex-direction: column;
    }

    #beach .beach_container img{
        margin: auto;
        margin-top:-4cm;
        margin-bottom: 1cm;
        border-radius: 0;
    }

    #beach .beach_container .beach_info h1{
        font-size: 45px;
        text-align: center;
        margin-bottom: 0.5cm;
    }

    #spa .spa_info{
        display: flex;
        flex-direction: column;
    }

    #spa .spa_info h1{
        text-align: center;
    }

    #spa .spa_info img{
        border-radius: 0;
        margin: 0;
        margin-left: 1cm;
        margin-top: 1cm;
        width:10cm;
        height: auto;
    }

    #bullets .bullets_head h1{
        margin-top: -3cm;
        margin-bottom: -1cm;
    }

    #bullets .bullets_list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #bullets .bullets_list ol{
        margin-left: 0;
        margin-top: 2cm;
        
    }
 
    #bullets .bullets_list .swimming{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    #bullets .bullets_list .jacuzzi{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    #bullets .bullets_list .sauna{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    #bullets .bullets_list .gym{
        margin-top: 1cm;
        margin-left: 2cm;
    }

    footer .footer_page .footer_inf{
        margin-top: 0;
        margin-bottom: 4cm;
        display: none;
    }

    footer .footer_page{
        text-align: center;
    }


    footer .footer_page .footer_list{
        margin-left: 1cm;
    }

    footer .footer_page .footer_list h3{
        font-size: 17px;
    }

    footer .footer_page .footer_social h3{
        font-size: 20px;
    }
}


/*Media Section for About and below for smaller screen laptops*/
@media (min-width: 1191px) and (max-width: 1400px){
    #about .aboutpage img{
        margin-top: 0;
        width: auto;
        height: 10cm;
    }

    footer .footer_page .footer_inf{
        margin-left: 0;
    }

    footer .footer_page .footer_list h3{
        margin-left: -3cm;
    }

    footer .footer_page .footer_list ul li{
        margin-left: -2cm;
    }

}

@media (max-width: 1668px){
    #bullets .bullets_list ol li{
        font-size: 18px;
    }

    #bullets .bullets_list .swimming{
        margin-left: 1cm;
        width: 7cm;
        height: auto;
    }
    
    #bullets .bullets_list .jacuzzi{
        margin-left: 1cm;
        width: 7cm;
        height: auto;
    }
    
    #bullets .bullets_list .sauna{
        margin-left: 1cm;
        width: 7cm;
        height: auto;
    }

    #bullets .bullets_list .gym{
        margin-left: 1cm;
        width: 7cm;
        height: auto;
    }

    #dine-in .restaurant h1{
        font-size: 55px;
    }
    

    footer .footer_page .footer_inf h4 h6{
        margin-left: 2cm;
    }


    footer .footer_page h3{
        font-size: 20px;

    }

    footer .footer_page .footer_list ul li{
        font-size: 15px;
    }

    footer .footer_page .footer_contact h3{
        margin-left: 2cm;
    }


    footer .footer_page .footer_contact ul li{
        margin-left: 2cm;
        font-size: 15px;
    }

    footer .footer_page .footer_social h3{
        margin-left: 2cm;
        margin-bottom: 1cm;
    }

    footer .footer_page .footer_social ul li a img{
        width: 40px;
        height: 40px;
        margin-left: 2cm;
        
    }

    footer .footer_page .footer_inf a img{
        margin-left: 1.8cm;
        width: 7cm;
        height: auto;
    }

    footer .footer_page .footer_social ul li a{
        margin-left: -4cm;
    }

    
}